<% include ../partials/header-logged.ejs %>
<div class="row">
  <div class="col-md-2 col-xs-2">
  <img src="<%=imgUrl%>">
  </div>
  <div class="col-md-4 col-xs-4">
  <h2><%=userData.username%></h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6 col-xs-6">
  <div class="languages">
    <h2>Known Languages</h2>
    <ul class="language-list">
    <% languageData.forEach(function(language) { %>
      <li><%=language.name%>
        <ul>
        <li>Reading/Writing Fluency: <%=language.languagesusers.wr_fluency%>
            Speaking Fluency: <%=language.languagesusers.sp_fluency%></li>
            </ul>
      </li>
    <% }) %>
    </ul>
  </div>
  </div>
  <div class="col-md-6 col-xs-6">
    <div class="userData">
    <h4> About <%=userData.username%></h4>
      <h5><%= profileData.bio %></h5>
    <h4><%=userData.username%>'s interests</h4>
      <h5><%= profileData.hobbies %></h5>
    <h4><%=userData.username%>'s contact information</h4>
      <h5><%= profileData.phone %></h5>
      <h5>Send <%=userData.username%> an email!</h5>
      <a href="mailto:<%=userData.email%>?subject='Hey <%=userData.username%>! - speaktome'"><span class="glyphicon glyphicon-envelope"></span></a>
  </div>
  </div>
</div>

<% include ../partials/alerts.ejs %>
  <hr>
</div>
<% include ../partials/footer.ejs %>

